.bold{
  font-weight: bold;
}

.app{
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  background-color:  whitesmoke;
}

.selected{
  font-weight: bold;
}

.controls{
  padding: 5px;
  background-color: lightgrey ;
}

#root {
  padding: 2rem;
}

.textInputs {
  display: flex;
  width: 75%;
}

select {
  width: 10%;
  padding: 5px;
  font-size: medium;
  display: flex;

  border-radius: 1px;
  box-sizing: border-box;
}

