body {
  margin: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

li {
  font-size: 1.5em;
}


button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}
nav a {
  color: initial;
  text-decoration: none;
  font-size: 2em;
  font-family: sans-serif;
  padding: 4px 6px 4px 6px;
  border-radius: 10px;
  background-color: white;
  display:inline-block;
  margin: 2px;
}
nav a:hover {
  background-color: #aaa;
}
.active{
  color: green;
  font-weight:bold;
  }
  
